<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.engi5895.linedown.linedown">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LineDownTheme"
        >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBi518i1-kRq7bTsMMCfI63j0bW_5RkiCY"/>
        <activity android:name=".MainActivity"
            android:theme="@style/LineDownTheme">
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RestaurantDetail"
            android:label="@string/app_name" />
        <activity android:name=".WaitMethodSelect"
            android:label="@string/app_name"/>
        <activity android:name=".AddManually"
            android:label="@string/app_name"/>
        <activity android:name=".AddByTimer"
            android:label="@string/app_name"/>

    </application>

</manifest>
